<img class="mt-5" src="/assets/images/burger.png" alt="">
<h1 class="my-4">Eat da Burger!</h1>
<div class="container">

</div>
<div class="container d-flex flex-column flex-sm-row justify-content-center align-items-center">
  <ul class="mr-sm-4 mb-3">
    <li>1asdfasdfasdfasdfasdfasdf</li>
    <li>1asdfasdfasdfasdfasdfasdf</li>
    <li>1asdfasdfasdfasdfasdfasdf</li>
    <li>1asdfasdfasdfasdfasdfasdf</li>

  </ul>
  <ul class="ml-sm-4">
    <li>2asdfasasdfasdfasdfasdfad</li>
    <li>2asdfasasdfasdfasdfasdfad</li>
    <li>2asdfasasdfasdfasdfasdfad</li>
    <li>2asdfasasdfasdfasdfasdfad</li>
  </ul>

</div>
<form>
  <div class="form-group">
    <textarea name="" id="" cols="30" rows="2"></textarea>
  </div>

  <button class="btn btn-primary">Submit</button>
</form>