body {
  background: #eacda3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d6ae7b,
    #eacda3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d6ae7b,
    #eacda3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

img {
  width: 150px;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: #ce2a3b;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0;
}

form {
  text-align: center;
}

label {
  display: block;
  color: #ce2a3b;
  font-size: 1.1rem;
  font-weight: 500;
}

.list {
  max-width: 800px;
}

span.burger {
  display: inline-block;
  background-color: #fafafa;
  min-width: 200px;
}

.btn.devour,
.btn.digest {
  position: relative;
  bottom: 2px;
}
